td {
    position: relative !important;
    height: 50px;
}

.float-button-container {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 0.2em;
    overflow: hidden;
  }