<div class="container">
  <div class="row h-100">
    <div class="col-sm-12">
      <h1>Calendar</h1>
      <!-- mobile view -->
      <table class="table" *ngIf="isMobileView; else monthView">
        <thead>
          <tr>
            <th scope="col" class="mobile-th"></th>
            <th scope="col">
              {{ currentDate | date:'EEEE' }}
              <br>
              {{ currentDate | date:'mediumDate' }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeOfDay of timesOfDay; index as row" [id]="'rowNumber-'+row">
            <th scope="row" class="mobile-th"><span class="float-time-text">{{timeOfDay}}</span></th>
            <td (click)="onCellClick(row,0)">
              <div class="text-success border border-success text-white float-div-container"
                *ngIf="shouldDisplayCell[row][0]" [ngStyle]="{ 'height' : getDivHeight() }">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- web view -->
<ng-template #monthView>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" *ngFor="let dayOfWeek of daysOfWeek; index as i"
          [ngStyle]="{ 'width' : (100/(daysOfWeek.length+1))+'%' }">
          {{dayOfWeek}} <br>
          {{ currentWeekDates[i] | date:'mediumDate' }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timeOfDay of timesOfDay; index as row" [id]="'rowNumber-'+row">
        <th scope="row">{{timeOfDay}}</th>
        <td *ngFor="let dayOfWeek of daysOfWeek; index as col" (click)="onCellClick(row,col)">
          <div class="bg-success text-white float-div-container" *ngIf="shouldDisplayCell[row][col]"
            [ngStyle]="{ 'height' : getDivHeight() }">Hello</div>
          <div></div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>